body{
    text-align: center;
    background-color: bisque;
}

footer a{
    margin:0 10px;
    color: rgb(185, 22, 63);
}

.croissant-photo {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}